body {
  background-color: #f5f5f5;
}

.tagline-home {
  font-size: 20px;
  font-weight: 700;
  margin-left: 13px;
  color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 175px;
}

.avatar {
  border-radius: 6px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin: 29px 13px 0 0;
  -webkit-box-shadow: 2px 3px 9px -1px rgba(41, 41, 41, 0.35);
  -moz-box-shadow: 2px 3px 9px -1px rgba(41, 41, 41, 0.35);
  box-shadow: 2px 3px 9px -1px rgba(41, 41, 41, 0.35);
}

.form-search {
  padding: 0.375rem 0.5rem 0.375rem 0.5rem !important;
}

.btn-search {
  position: relative;
  font-size: 20px;
  font-weight: bold;
}

.title-popular {
  margin: 0 0 0 5px !important;
}

.card-body {
  padding: 0.5rem 0.5rem !important;
}

.img-popular {
  border-radius: 8px;
  width: 13rem;
  height: 115px;
  object-fit: cover;
}

.img-other {
  border-radius: 8px;
  width: 120px;
  height: 100px;
  object-fit: cover;
}

.img-left {
  margin-right: 20px;
}

.card-popular {
  width: 13rem !important;
  margin-top: 10px !important;
  margin-bottom: 20px !important;
  border: none !important;
  border-radius: 8px !important;
  -webkit-box-shadow: 2px 7px 9px -1px rgba(41, 41, 41, 0.14);
  -moz-box-shadow: 2px 7px 9px -1px rgba(41, 41, 41, 0.14);
  box-shadow: 2px 7px 9px -1px rgba(41, 41, 41, 0.14);
}

.card-other {
  width: 9rem !important;
  margin: 10px 12px 0 0 !important;
}

.card-others {
  width: 100% !important;
  border: none !important;
  border-radius: 8px !important;
  -webkit-box-shadow: 2px 7px 9px -1px rgba(41, 41, 41, 0.14);
  -moz-box-shadow: 2px 7px 9px -1px rgba(41, 41, 41, 0.14);
  box-shadow: 2px 7px 9px -1px rgba(41, 41, 41, 0.14);
}

.place {
  margin: 8px 0 2px 0 !important;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100px;
  white-space: nowrap;
}

.country {
  margin: 8px 0 2px 0 !important;
  font-size: 13px;
  color: rgb(124, 124, 124);
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 60px;
  white-space: nowrap;
}

.price {
  margin: 0 0 2px 0 !important;
  font-size: 15px;
  color: #193498;
}

.mb-8 {
  margin-bottom: 150px;
}

.star {
  width: 85px !important;
}

.map {
  font-size: 14px;
  margin-top: -4px;
  margin-left: -2.4px !important;
}

.card-empty {
  width: 10rem !important;
  border: none !important;
}
