.navbar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  text-align: center;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 1px 17px 3px rgba(53, 53, 53, 0.144);
  -webkit-box-shadow: 0px 1px 17px 3px rgba(53, 53, 53, 0.144);
  -moz-box-shadow: 0px 1px 17px 3px rgba(53, 53, 53, 0.144);
}

.mrg-nav {
  margin: 0 15px 0 15px !important;
}

.icon-nav {
  font-size: 30px;
  color: #818181;
}
